body{
	color:white;
	font-family: Arial;
	font-size: 22pt;
	background-color: violet;
}

h3{
	color: blue;
	font-family: verdana;
	font-size: 18pt;
}
p{
	color: red;
	font-family: times;
	font-size: 16pt;
}		